<div class="modal-window">
    <div class="modal-header">
        <h3 class="modal-title">{{vm.modalParams.header | translate}}</h3>
    </div>
    <div class="modal-body">
        {{vm.modalParams.message | translate}}
    </div>
    <div class="modal-footer modal-window-custom-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">{{'yes' | translate}}</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">{{'no' | translate}}</button>
    </div>
</div>

