@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Lexicon.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Lexicon.LockedOut</h1>
    <h2 class="text-danger">@Lexicon.LockedOutMessage</h2>
</hgroup>
