@{
    ViewBag.Title = "CharacteristicTree";
}

<h2>CharacteristicTree</h2>

<div class="page-with-extra-navbar">
    <div ng-controller="CharacteristicTreeCtrl as vm">
        <extra-bootstrap-navbar>
            <form class="navbar-form navbar-right" style="margin-right: 20px" ng-submit="vm.searchCharacteristicByName(vm.searchCharacteristicName)">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.searchCharacteristicName" placeholder="DictionaryName">
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" type="button" ng-click="">Search</button>
                </div>
            </form>
        </extra-bootstrap-navbar>

        <async-page-with-loader is-loaded="vm.loaded">
            <div class="row">
                <tree-view ng-model="vm.tree"
                           config="vm.treeParserConfig"
                           node-selected-callback="vm.nodeSelectedCallback"
                           node-unselected-callback="vm.nodeUnselectedCallback">
                </tree-view>
                <button class="btn btn-primary" ng-click="vm.createCharacteristic()" ng-disabled="!vm.state.currentNode || vm.state.currentNode.type !== 0">Create</button>
                <button class="btn btn-primary" ng-click="vm.createFolder()" ng-disabled="!vm.state.currentNode || vm.state.currentNode.type !== 0">Create folder</button>
                <button class="btn btn-primary" ng-click="vm.edit()" ng-disabled="!vm.state.currentNode">Edit</button>
                <button class="btn btn-primary" ng-click="vm.remove()" ng-disabled="!vm.state.currentNode">Remove</button>
            </div>
        </async-page-with-loader>
    </div>
</div>