@{
    ViewBag.Title = "CharacteristicTree";
}

<h2>CharacteristicTree</h2>

<div class="page-with-extra-navbar">
    <div ng-controller="CharacteristicTreeCtrl as vm">
        <extra-bootstrap-navbar>
            <form class="navbar-form navbar-right" style="margin-right: 20px" ng-submit="vm.searchCharacteristicByName(vm.searchCharacteristicName)">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.searchCharacteristicName" placeholder="DictionaryName">
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" type="button" ng-click="">Search</button>
                </div>
            </form>
        </extra-bootstrap-navbar>

        <async-page-with-loader is-loaded="vm.loaded">
            <div class="row">
                <tree-view ng-model="vm.tree"
                           text-field-name="vm.treeParserConfig.textFieldName"
                           level-field-name="vm.treeParserConfig.levelFieldName"
                           node-type-field-name="vm.treeParserConfig.nodeTypeFieldName"
                           folder-node-type-value=0
                           file-node-type-value=1
                           node-selected-callback="vm.treeParserConfig.nodeSelectedCallback"
                           node-unselected-callback="vm.treeParserConfig.nodeUnselectedCallback"
                           mode=1>
                </tree-view>
                <button class="btn btn-primary" ng-click="vm.createCharacteristic()" ng-disabled="!vm.state.currentNode || vm.state.currentNode.type !== 0">Create</button>
            </div>
        </async-page-with-loader>
    </div>
</div>