
@{
    ViewBag.Title = "CharacteristicTree";
}

<h2>CharacteristicTree</h2>

<div class="page-with-extra-navbar">
    <div ng-controller="CharacteristicTreeCtrl as vm">
        <extra-bootstrap-navbar>
            <form class="navbar-form navbar-right" style="margin-right: 20px" ng-submit="vm.searchDictionaryByName(vm.searchDictionaryName)">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.searchDictionaryName" placeholder="DictionaryName">
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" type="button" ng-click="vm.searchDictionaryByName(vm.searchDictionaryName)">
                        Search
                    </button>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="" ng-click="vm.extendedDictionarySearch()">ExtendedSearch</a></li>
                        <li><a class="dropdown-item" href="" ng-click="vm.resetSearch()">Reset</a></li>
                    </ul>
                </div>
            </form>
        </extra-bootstrap-navbar>

        <async-page-with-loader is-loaded="vm.loaded">
            <div class="row">
                <div>NothingToShow</div>
            </div>
        </async-page-with-loader>
    </div>
</div>